.regForm {
    padding: 20px;

    .form-floating,
    .form-group {
        position: relative;
        margin-bottom: 15px;
        font-size: 14px;

        .form-control,
        .form-select,
        .select2-container--bootstrap-5 .select2-selection {
            position: relative;
            color: #000;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid $gray-400;
            font-size: 14px;
        }

        label {
            font-weight: 500;
            color: $gray-700;
            font-size: 14px;
        }

        &.form-dob {

            .dateFields {
                display: flex;
                align-items: flex-end;

                .form-control {


                    &:not(:last-child) {

                        &:after {
                            content: '';
                            position: absolute;
                            right: 0;
                            height: 32px;
                            width: 1px;
                            background: #B5B5B5;
                        }
                    }
                }
            }
        }

        &.icon {

            .fa {
                position: absolute;
                right: 15px;
                bottom: 12px;
                z-index: 3;
                font-size: 13px;
                color: $gray-700;
            }
        }

        &.mand {
            label {
                &:after {
                    content: '*';
                    color: $danger;
                }
            }
        }
    }

    .form-captureFace {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: #D9D9D9;
        border: 1px solid #a8a8a8;
        padding: 20px;
        height: 100%;
    }

    .policy {
        color: $primary;
        text-transform: uppercase;
        letter-spacing: .6px;
        font-size: 10px;
        font-weight: 900;
        display: block;
        padding: 10px 0;

    }

    .form-check {
        margin: 10px 0 15px;

        .form-check-label {
            font-size: 14px;
            font-weight: 500;
            color: #141414;
        }
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;

        p {
            font-size: 14px;
            color: #000;
            margin: 0;
        }

        @include media-breakpoint-down(md) {}

        @include media-breakpoint-down(sm) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;

            .btn {
                width: 100%;
                flex: 1;
            }
        }

        .btn {}

        .btn-default {
            background: #DEDEDE;
        }
    }
}

.captureFaceModal {

    .captureArea {
        border: 1px dashed #a8a8a8;
        border-radius: 5px;
        background: #f7f7f7;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

    }

    .captureGuide {

        img {
            max-width: 70%;
            margin: 30px auto 20px;
            display: block;
        }

        .toggleSample {}
    }
}