
$fontPath: '../fonts/jiotype/';

@font-face {
    font-family: 'JioType';
    src: url('#{$fontPath}JioType-Bold.woff2') format('woff2'),
        url('#{$fontPath}JioType-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JioType';
    src: url('#{$fontPath}JioType-Light.woff2') format('woff2'),
        url('#{$fontPath}JioType-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JioType';
    src: url('#{$fontPath}JioType-Black.woff2') format('woff2'),
        url('#{$fontPath}JioType-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JioType';
    src: url('#{$fontPath}JioType-Medium.woff2') format('woff2'),
        url('#{$fontPath}JioType-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}