// Custom Variables

$blue: #2058AC;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #E32729;
$orange: #F59A38;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #44B3D8;

$enable-rounded: true;
$link-decoration: none;

$anim-cubic: cubic-bezier(0.4, 0, 0.2, 1);