.whyChooseUs {
    background-image: url('../img/bg/wcu-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wcuBox {
    position: relative;

    .wcuImg {
        height: 594px;
        width: auto;
        margin: 0 auto;
        text-align: center;

        @include media-breakpoint-down(md) {
            display: none;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 0;
            height: 7px;
            width: 426px;
            background: #050405;
        }

        img {
            max-width: 100%;
            margin: 0 auto;
        }
    }

    .wcuItems {


        @include media-breakpoint-up(md) {
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            top: 70%;
            transform: translateY(-60%);
        }
    }

    .wcuItem {


        &:not(:last-child) {
            margin-bottom: 30px;
        }

        .card {

            .card-body {

                .card-img {

                    img {}
                }

                h3 {}

                .fa,
                svg,
                .icon {
                    color:#A3C0ED;
                    flex-shrink: 0;
                    border: 1px solid #A3C0ED;
                    border-radius: 50%;
                    height: 36px;
                    width: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;
                    transition: all 0.3s ease;
                }
            }

            &:hover {

                .card-img{
                                 transition: all 0.4s ease;

                    transform: scale(1.1);
                }
                border: solid 3px #A3C0ED; 
                .fa,
                svg,
                .icon {
                    background: #A3C0ED;
                    color: #000000;

                }
                h3{
                    color: #000000;
                }
            }
        }
    }


}

.brands {
    padding: 3rem;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #DDE4EE;

    @include media-breakpoint-down(md) {
        padding: 2rem;
    }

    .slick-prev,
    .slick-next {

        top: 50%;
        transform: translateY(-50%);
    }

    .item {

        img {
            margin: 0 10px;
        }
    }
}

